src/main/resources/org/nervousync/schemas/database_1_0.xsd

<!--
  ~ Licensed to the Nervousync Studio (NSYC) under one or more
  ~ contributor license agreements. See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xsd:schema xmlns="https://nervousync.org/schemas/database" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:proxy="https://nervousync.org/schemas/proxy"
            targetNamespace="https://nervousync.org/schemas/database" elementFormDefault="qualified" version="1.0">
    <xsd:import namespace="https://nervousync.org/schemas/proxy"
                schemaLocation="https://nervousync.org/schemas/proxy_config_1.0.xsd"/>
    <xsd:complexType name="server_info">
        <xsd:sequence>
            <xsd:element name="server_name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Server name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="server_address" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Server address</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="server_port" type="xsd:int" default="-1">
                <xsd:annotation>
                    <xsd:documentation>Server port</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="server_level" type="xsd:int" default="-1">
                <xsd:annotation>
                    <xsd:documentation>Server level</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="schema_config" abstract="true">
        <xsd:sequence>
            <xsd:element name="schema_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Data source name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="default_schema" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation>Default data source flag</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dialect_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Data source dialect name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trust_store" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Trust certificate store configuration information</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="store_path" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Trust certificate store path</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="store_password" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Trust certificate store password</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="token_authentication" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="auth_type" type="xsd:string" fixed="TOKEN">
                                <xsd:annotation>
                                    <xsd:documentation>Enumeration value of authentication type</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="key_id" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Identify key ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="secret_key" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Identify secret key</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="session_token" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Session token</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="trust_store_authentication" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="auth_type" type="xsd:string" fixed="TRUST_STORE">
                                <xsd:annotation>
                                    <xsd:documentation>Enumeration value of authentication type</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="store_path" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Trust certificate store path</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="store_password" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Trust certificate store password</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="cert_name" type="xsd:string" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Certificate name</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="user_authentication" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="auth_type" type="xsd:string" fixed="BASIC">
                                <xsd:annotation>
                                    <xsd:documentation>Enumeration value of authentication type</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="username" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Authenticator username</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="password" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>Authenticator password</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="x509_authentication" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="auth_type" type="xsd:string" fixed="CERTIFICATE">
                                <xsd:annotation>
                                    <xsd:documentation>Enumeration value of authentication type</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="cert_data" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>X.509 certificate information (encoded using Base64)
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="low_query_timeout" type="xsd:long" default="-1">
                <xsd:annotation>
                    <xsd:documentation>Low query timeout (Unit: milliseconds)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validate_timeout" type="xsd:int" default="-1">
                <xsd:annotation>
                    <xsd:documentation>Timeout value of connection validate (Unit: seconds)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="connect_timeout" type="xsd:int" default="-1">
                <xsd:annotation>
                    <xsd:documentation>Timeout value of create connection (Unit: seconds)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sharding" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation>Data source support sharding</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sharding_default" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Default database sharding value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pooled" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation>Data source allows connection pooling</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="min_connections" type="xsd:int" default="2">
                <xsd:annotation>
                    <xsd:documentation>Minimum number of connections in the connection pool</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_connections" type="xsd:int" default="2">
                <xsd:annotation>
                    <xsd:documentation>Maximum number of connections in the connection pool</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="schema_group">
        <xsd:choice>
            <xsd:element name="distribute_schema" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="schema_config">
                            <xsd:sequence>
                                <xsd:element name="server_list">
                                    <xsd:annotation>
                                        <xsd:documentation>Database server info list</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="server_info" type="server_info" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>Database server info</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="database_name" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>Database name</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="use_ssl" type="xsd:boolean" default="false">
                                    <xsd:annotation>
                                        <xsd:documentation>Using SSL when connect to server</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="request_timeout" type="xsd:int" default="-1">
                                    <xsd:annotation>
                                        <xsd:documentation>Request timeout value</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="cache_limit_size" type="xsd:int" default="-1">
                                    <xsd:annotation>
                                        <xsd:documentation>Maximum size of prepared statement</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="jdbc_schema" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="schema_config">
                            <xsd:sequence>
                                <xsd:element name="server_array" type="xsd:boolean" default="false">
                                    <xsd:annotation>
                                        <xsd:documentation>Using server array</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="server_list">
                                    <xsd:annotation>
                                        <xsd:documentation>Database server info list</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="server_info" type="server_info" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>Database server info</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="jdbc_url" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:documentation>JDBC connection url</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="retry_count" type="xsd:int" default="3">
                                    <xsd:annotation>
                                        <xsd:documentation>Maximum number of connection retries</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="retry_period" type="xsd:long" default="1000">
                                    <xsd:annotation>
                                        <xsd:documentation>Get the connection retry interval (unit: milliseconds)
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="cache_limit_size" type="xsd:int" default="-1">
                                    <xsd:annotation>
                                        <xsd:documentation>Maximum size of prepared statement</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="test_on_borrow" type="xsd:boolean" default="false">
                                    <xsd:annotation>
                                        <xsd:documentation>Check connection validate when obtains database connection
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="test_on_return" type="xsd:boolean" default="false">
                                    <xsd:annotation>
                                        <xsd:documentation>Check connection validate when return database connection
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="remote_schema" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="schema_config">
                            <xsd:sequence>
                                <xsd:element name="remote_type">
                                    <xsd:annotation>
                                        <xsd:documentation>Enumeration value of remote type</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="SOAP"/>
                                            <xsd:enumeration value="Restful"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="remote_address" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:documentation>Remote address</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element ref="proxy:proxy_config" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>Proxy configure information</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="keep_alive" type="xsd:int">
                                    <xsd:annotation>
                                        <xsd:documentation>Keep-alive timeout (Unit: seconds)</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="generation_define">
        <xsd:sequence>
            <xsd:element name="generation_type">
                <xsd:annotation>
                    <xsd:documentation>Generation type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="GENERATE"/>
                        <xsd:enumeration value="SEQUENCE"/>
                        <xsd:enumeration value="ASSIGNED"/>
                        <xsd:enumeration value="AUTO_INCREMENT"/>
                        <xsd:enumeration value="CURRENT_DATE"/>
                        <xsd:enumeration value="CURRENT_TIME"/>
                        <xsd:enumeration value="CURRENT_TIMESTAMP"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="generator_name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Generator name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="index_define">
        <xsd:sequence>
            <xsd:element name="index_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Index name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="column_list">
                <xsd:annotation>
                    <xsd:documentation>Index contains column name list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="column_name" type="xsd:string" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Index contains column name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="column_define">
        <xsd:sequence>
            <xsd:element name="column_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Data column name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jdbc_type" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>JDBC data type code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nullable" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Data column is nullable</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="length" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Data column length</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="precision" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Data column precision</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="scale" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Data column scale</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="default_value" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Data column default value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="primary_key" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Data column is primary key</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name_histories">
                <xsd:annotation>
                    <xsd:documentation>Column name histories</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="history_name" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Column history name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="unique" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Data column is unique</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="generator_define" type="generation_define" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Column value generator configure</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="storage_config">
        <xsd:sequence>
            <xsd:element name="base_path" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The work path for data import/export operate</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storage_provider" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Task store provider name to use</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="thread_limit" type="xsd:int" default="20">
                <xsd:annotation>
                    <xsd:documentation>Number of tasks allowed to be executed simultaneously</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expire_time" type="xsd:long" default="604800000">
                <xsd:annotation>
                    <xsd:documentation>Expiration time for automatic deletion of completed tasks</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sorted_item" abstract="true">
        <xsd:sequence>
            <xsd:element name="sort_code">
                <xsd:annotation>
                    <xsd:documentation>Sort code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="array_data">
        <xsd:sequence>
            <xsd:element name="array_objects">
                <xsd:annotation>
                    <xsd:documentation>Array data objects</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="data_value" type="xsd:anyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ranges_data">
        <xsd:sequence>
            <xsd:element name="begin_value" type="xsd:anyType">
                <xsd:annotation>
                    <xsd:documentation>Ranges begin value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="end_value" type="xsd:anyType">
                <xsd:annotation>
                    <xsd:documentation>Ranges end value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="abstract_item" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="item_type">
                        <xsd:annotation>
                            <xsd:documentation>Parameter item type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="COLUMN"/>
                                <xsd:enumeration value="FUNCTION"/>
                                <xsd:enumeration value="QUERY"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="alias_name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Item alias name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="column_item">
        <xsd:complexContent>
            <xsd:extension base="abstract_item">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="distinct" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Column distinct</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="function_item">
        <xsd:complexContent>
            <xsd:extension base="abstract_item">
                <xsd:sequence>
                    <xsd:element name="function_name">
                        <xsd:annotation>
                            <xsd:documentation>Function name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="function_parameter_list">
                        <xsd:annotation>
                            <xsd:documentation>Function parameter list</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:group ref="parameter_group" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="query_item">
        <xsd:complexContent>
            <xsd:extension base="abstract_item">
                <xsd:sequence>
                    <xsd:annotation>
                        <xsd:documentation>Sub-query information</xsd:documentation>
                    </xsd:annotation>
                    <xsd:element name="query_info" type="query_info"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="item_group">
        <xsd:choice>
            <xsd:element name="column_item" type="column_item"/>
            <xsd:element name="function_item" type="function_item"/>
            <xsd:element name="query_item" type="query_item"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="abstract_parameter" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="item_type">
                        <xsd:annotation>
                            <xsd:documentation>Parameter item type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="COLUMN"/>
                                <xsd:enumeration value="FUNCTION"/>
                                <xsd:enumeration value="CONSTANT"/>
                                <xsd:enumeration value="QUERY"/>
                                <xsd:enumeration value="RANGE"/>
                                <xsd:enumeration value="ARRAY"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="arrays_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="array_data" type="array_data"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="column_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="column_item" type="column_item"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="constant_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="constant_data" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="function_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="function_item" type="function_item"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="query_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="query_info" type="query_info"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ranges_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="ranges_data" type="ranges_data"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="parameter_group">
        <xsd:choice>
            <xsd:element name="arrays_parameter" type="arrays_parameter"/>
            <xsd:element name="column_parameter" type="column_parameter"/>
            <xsd:element name="constant_parameter" type="constant_parameter"/>
            <xsd:element name="function_parameter" type="function_parameter"/>
            <xsd:element name="query_parameter" type="query_parameter"/>
            <xsd:element name="ranges_parameter" type="ranges_parameter"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="condition" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="condition_code">
                        <xsd:annotation>
                            <xsd:documentation>Condition type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="GREATER"/>
                                <xsd:enumeration value="GREATER_EQUAL"/>
                                <xsd:enumeration value="LESS"/>
                                <xsd:enumeration value="LESS_EQUAL"/>
                                <xsd:enumeration value="EQUAL"/>
                                <xsd:enumeration value="NOT_EQUAL"/>
                                <xsd:enumeration value="BETWEEN_AND"/>
                                <xsd:enumeration value="NOT_BETWEEN_AND"/>
                                <xsd:enumeration value="LIKE"/>
                                <xsd:enumeration value="NOT_LIKE"/>
                                <xsd:enumeration value="IS_NULL"/>
                                <xsd:enumeration value="NOT_NULL"/>
                                <xsd:enumeration value="IN"/>
                                <xsd:enumeration value="NOT_IN"/>
                                <xsd:enumeration value="GROUP"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="connection_code">
                        <xsd:annotation>
                            <xsd:documentation>Connection type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="AND"/>
                                <xsd:enumeration value="OR"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="column_condition">
        <xsd:complexContent>
            <xsd:extension base="condition">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:group ref="parameter_group" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="group_condition">
        <xsd:complexContent>
            <xsd:extension base="condition">
                <xsd:sequence>
                    <xsd:element name="condition_list">
                        <xsd:complexType>
                            <xsd:group ref="condition_group" maxOccurs="unbounded"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="condition_group">
        <xsd:choice>
            <xsd:element name="column_condition" type="column_condition"/>
            <xsd:element name="group_condition" type="group_condition"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="join_info">
        <xsd:sequence>
            <xsd:element name="connection_code">
                <xsd:annotation>
                    <xsd:documentation>Connection type enumeration value</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="AND"/>
                        <xsd:enumeration value="OR"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="join_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Join column identify key</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="reference_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Reference column identify key</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="query_join">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="main_entity" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Main entity class name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="join_entity" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Join entity class name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="join_type">
                        <xsd:annotation>
                            <xsd:documentation>Table join type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="LEFT"/>
                                <xsd:enumeration value="RIGHT"/>
                                <xsd:enumeration value="FULL"/>
                                <xsd:enumeration value="INNER"/>
                                <xsd:enumeration value="CROSS"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="join_info_list">
                        <xsd:annotation>
                            <xsd:documentation>Join column information list</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="join_info" type="join_info" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="group_by">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="order_by">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="order_type">
                        <xsd:annotation>
                            <xsd:documentation>Data order type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="ASC"/>
                                <xsd:enumeration value="DESC"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="query_info">
        <xsd:sequence>
            <xsd:element name="table_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Query driven table name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="alias_name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Query driven table alias name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="join_list">
                <xsd:annotation>
                    <xsd:documentation>Related query information list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="query_join" type="query_join" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="item_list">
                <xsd:annotation>
                    <xsd:documentation>Query item instance list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="item_group" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="condition_list">
                <xsd:annotation>
                    <xsd:documentation>Query condition instance list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="condition_group" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="order_list">
                <xsd:annotation>
                    <xsd:documentation>Query order by columns list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="order_by" type="order_by" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="group_list">
                <xsd:annotation>
                    <xsd:documentation>Query group by columns list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="group_by" type="group_by" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="having_list">
                <xsd:annotation>
                    <xsd:documentation>Query having condition instance list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="condition_group" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cacheables" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Query result read from cache server first</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="page_number" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Current page number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="page_limit" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Page limit records count</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="query_info" type="query_info"/>
    <xsd:element name="query_result">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="encoding" type="xsd:string" default="UTF-8">
                    <xsd:annotation>
                        <xsd:documentation>Character encoding for record information</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="record_list">
                    <xsd:annotation>
                        <xsd:documentation>Result record list</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="record" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>Result record information</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="total_count" type="xsd:long">
                    <xsd:annotation>
                        <xsd:documentation>Total record count</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="table_define">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="table_name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Data table name</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="column_list">
                    <xsd:annotation>
                        <xsd:documentation>Data column define list</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="column_define" type="column_define" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>Data column define information</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="index_list">
                    <xsd:annotation>
                        <xsd:documentation>Index define list</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="index_define" type="index_define" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>Index define information</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--    <xsd:element name="storage_config" type="storage_config">-->
    <!--        <xsd:annotation>-->
    <!--            <xsd:documentation>Configure information of data import/export utilities</xsd:documentation>-->
    <!--        </xsd:annotation>-->
    <!--    </xsd:element>-->
    <!--    <xsd:element name="distribute_schema" type="distribute_schema">-->
    <!--        <xsd:annotation>-->
    <!--            <xsd:documentation>Distribute data source configuration information</xsd:documentation>-->
    <!--        </xsd:annotation>-->
    <!--    </xsd:element>-->
    <!--    <xsd:element name="jdbc_schema" type="jdbc_schema">-->
    <!--        <xsd:annotation>-->
    <!--            <xsd:documentation>JDBC data source configuration information</xsd:documentation>-->
    <!--        </xsd:annotation>-->
    <!--    </xsd:element>-->
    <!--    <xsd:element name="remote_schema" type="remote_schema">-->
    <!--        <xsd:annotation>-->
    <!--            <xsd:documentation>Remote data source configuration information</xsd:documentation>-->
    <!--        </xsd:annotation>-->
    <!--    </xsd:element>-->
    <xsd:element name="brain_config">
        <xsd:annotation>
            <xsd:documentation>Data source configuration information definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="lazy_initialize" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>Lazy initialize data source</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="jmx_monitor" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>JMX monitor enabled status</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ddl_type" default="NONE">
                    <xsd:annotation>
                        <xsd:documentation>Type code of entity class and database table</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="NONE"/>
                            <xsd:enumeration value="VALIDATE"/>
                            <xsd:enumeration value="CREATE"/>
                            <xsd:enumeration value="CREATE_TRUNCATE"/>
                            <xsd:enumeration value="CREATE_DROP"/>
                            <xsd:enumeration value="SYNCHRONIZE"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="schema_list">
                    <xsd:annotation>
                        <xsd:documentation>Data source configure information list</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:group ref="schema_group" maxOccurs="unbounded"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="storage_config" type="storage_config" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Data import/export configure information</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>